<div class="container">
  <h1>New game</h1>
  <h2>Score is <%= session[:score] %></h2>

  <div class="d-flex flex-row justify-content-left">
    <% @letters.each do |letter| %>
      <div class="shadow card bg-info text-white">
       <%=letter.capitalize  %>
      </div>
    <% end %>
  </div>
  <p>What is the longest word you can find ?</p>
  <div class="d-flex justify-content-left">
    <form action="/score" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="form-inline">
        <input type="hidden" value="<%= @letters %>" name = "letters" >
        <input type="text" name="answer" class="form-control" placeholder="Your answer">
        <input type="submit" value="play" class="btn btn-primary">
      </div>
    </form>
  </div>
</div>


